@import url("https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap");
@font-face {
  font-family: "Monarda";
  src: url(../fonts/Monarda.ttf); }

@font-face {
  font-family: "Maghody";
  src: url(../fonts/Maghody-l2ew.ttf); }

html {
  scroll-behavior: smooth;
  font-size: 62.5%; }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  font-family: "Inter", sans-serif;
  font-size: 1.5rem; }

.header {
  background-image: url(../img/back1.jpg);
  background-size: cover;
  height: 100vh; }
  .header .container {
    height: 90%;
    width: 100%;
    display: flex;
    justify-content: center; }
    .header .container__left {
      color: #eff7d3;
      font-size: 8rem;
      flex-basis: 52%;
      margin-right: auto;
      margin-left: 10rem;
      padding: 3rem;
      margin-top: 3rem;
      font-family: "Monarda", sans-serif; }
      .header .container__left .color {
        line-height: 2;
        text-shadow: 0.8rem 0.5rem 2rem #685454; }
    .header .container__right {
      background-size: cover;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-basis: 50%; }
      .header .container__right .image {
        width: 39rem;
        height: 41rem; }

.navigation {
  background-color: transparent;
  height: 6rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3rem 2rem; }
  .navigation__logo {
    color: white;
    font-size: 2rem; }
  .navigation__nav {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-basis: 40%;
    margin-left: 6rem; }
  .navigation__link {
    text-decoration: none;
    position: relative; }
    .navigation__link:link, .navigation__link:visited {
      font-size: 1.75rem;
      text-decoration: none;
      color: #fff;
      transition: all 0.2s; }
    .navigation__link::after {
      content: "";
      position: absolute;
      left: 0;
      bottom: -6px;
      width: 100%;
      height: 2px;
      background-color: #fff;
      border-radius: 5px;
      transform-origin: right;
      transform: scaleX(0);
      transition: transform 0.5s; }
    .navigation__link:hover::after {
      transform-origin: center;
      transform: scaleX(1); }
    .navigation__link:hover {
      color: #fff;
      font-size: 1.6; }

.button-name {
  align-items: center;
  appearance: none;
  background-color: #fcfcfd;
  border-radius: 4px;
  border-width: 0;
  box-shadow: rgba(45, 35, 66, 0.2) 0 2px 4px, rgba(45, 35, 66, 0.15) 0 7px 13px -3px, #d6d6e7 0 -3px 0 inset;
  box-sizing: border-box;
  color: #36395a;
  cursor: pointer;
  display: inline-flex;
  font-family: "JetBrains Mono", monospace;
  height: 48px;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: box-shadow 0.15s, transform 0.15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow, transform;
  font-size: 18px; }

.button-name:focus {
  box-shadow: #d6d6e7 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #d6d6e7 0 -3px 0 inset; }

.button-name:hover {
  box-shadow: rgba(45, 35, 66, 0.3) 0 4px 8px, rgba(45, 35, 66, 0.2) 0 7px 13px -3px, #d6d6e7 0 -3px 0 inset;
  transform: translateY(-2px); }

.button-name:active {
  box-shadow: #d6d6e7 0 3px 7px inset;
  transform: translateY(2px); }

button {
  position: relative;
  display: inline-block;
  cursor: pointer;
  outline: none;
  border: 0;
  vertical-align: middle;
  text-decoration: none;
  font-family: inherit;
  font-size: 15px;
  width: 15rem;
  margin-left: 2.4rem; }

button.learn-more {
  font-weight: 600;
  color: #382b22;
  text-transform: uppercase;
  padding: 1.25em 2em;
  background: #fff0f0;
  border: 2px solid #b18597;
  border-radius: 0.75em;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transition: background 150ms cubic-bezier(0, 0, 0.58, 1), -webkit-transform 150ms cubic-bezier(0, 0, 0.58, 1);
  transition: transform 150ms cubic-bezier(0, 0, 0.58, 1), background 150ms cubic-bezier(0, 0, 0.58, 1), -webkit-transform 150ms cubic-bezier(0, 0, 0.58, 1); }

button.learn-more::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #f9c4d2;
  border-radius: inherit;
  -webkit-box-shadow: 0 0 0 2px #b18597, 0 0.625em 0 0 #ffe3e2;
  box-shadow: 0 0 0 2px #b18597, 0 0.625em 0 0 #ffe3e2;
  -webkit-transform: translate3d(0, 0.75em, -1em);
  transform: translate3d(0, 0.75em, -1em);
  transition: transform 150ms cubic-bezier(0, 0, 0.58, 1), box-shadow 150ms cubic-bezier(0, 0, 0.58, 1), -webkit-transform 150ms cubic-bezier(0, 0, 0.58, 1), -webkit-box-shadow 150ms cubic-bezier(0, 0, 0.58, 1); }

button.learn-more:hover {
  background: #ffe9e9;
  -webkit-transform: translate(0, 0.25em);
  transform: translate(0, 0.25em); }

button.learn-more:hover::before {
  -webkit-box-shadow: 0 0 0 2px #b18597, 0 0.5em 0 0 #ffe3e2;
  box-shadow: 0 0 0 2px #b18597, 0 0.5em 0 0 #ffe3e2;
  -webkit-transform: translate3d(0, 0.5em, -1em);
  transform: translate3d(0, 0.5em, -1em); }

button.learn-more:active {
  background: #ffe9e9;
  -webkit-transform: translate(0em, 0.75em);
  transform: translate(0em, 0.75em); }

button.learn-more:active::before {
  -webkit-box-shadow: 0 0 0 2px #b18597, 0 0 #ffe3e2;
  box-shadow: 0 0 0 2px #b18597, 0 0 #ffe3e2;
  -webkit-transform: translate3d(0, 0, -1em);
  transform: translate3d(0, 0, -1em); }

.section__notes {
  background-color: #faf9f9;
  color: #000;
  height: 100vh;
  display: flex; }
  .section__notes .select {
    padding-top: 2rem;
    height: 100%;
    width: 15%;
    background-color: #ade4db; }
    .section__notes .select .inner {
      margin-left: 1rem;
      margin-top: 5rem;
      height: 80%;
      display: flex;
      flex-direction: column;
      justify-content: space-around; }
  .section__notes .option__text {
    margin-bottom: 0;
    font-size: 2.5rem;
    text-align: left;
    color: #414a4c; }
  .section__notes .learn-more {
    margin-top: 10rem; }
  .section__notes .content {
    height: 100vh;
    flex: 1;
    background-color: #eee;
    padding: 2rem; }
    .section__notes .content__physics {
      height: 61rem;
      display: flex;
      flex: 1;
      background-color: #fff;
      box-shadow: 0 1rem 4rem rgba(0, 0, 0, 0.15);
      border-radius: 9px;
      overflow: hidden; }
      .section__notes .content__physics .subjects {
        height: 100%;
        width: 25%;
        background-color: #444; }
        .section__notes .content__physics .subjects ul {
          height: 100%;
          padding-left: 3.5rem;
          font-size: 1.8rem;
          list-style: none;
          display: flex;
          flex-direction: column;
          justify-content: space-around; }
          .section__notes .content__physics .subjects ul .item__link {
            text-decoration: none;
            color: #fff;
            transition: all 0.2s; }
            .section__notes .content__physics .subjects ul .item__link:hover {
              color: #adc6f2;
              font-size: 1.9rem; }
  .section__notes .container1 {
    height: 8rem;
    width: 98%;
    display: flex;
    justify-content: center;
    align-items: center; }
  .section__notes .tabs {
    display: flex;
    position: relative;
    background-color: #fff;
    box-shadow: 0 0 1px 0 rgba(24, 94, 224, 0.15), 0 6px 12px 0 rgba(24, 94, 224, 0.15);
    padding: 0.75rem;
    border-radius: 99px; }
  .section__notes .tabs * {
    z-index: 2; }
  .section__notes .container1 input[type="radio"] {
    display: none; }
  .section__notes .tab {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 35px;
    width: 180px;
    font-size: 1.5rem;
    color: black;
    font-weight: 500;
    border-radius: 99px;
    cursor: pointer;
    transition: color 0.15s ease-in; }
  .section__notes .container1 input[type="radio"]:checked + label {
    color: #185ee0; }
  .section__notes .container1 input[type="radio"]:checked + label > .notification {
    background-color: #185ee0;
    color: #fff;
    margin: 0px; }
  .section__notes .container1 input[id="radio-1"]:checked ~ .glider {
    transform: translateX(0); }
  .section__notes .container1 input[id="radio-2"]:checked ~ .glider {
    transform: translateX(100%); }
  .section__notes .container1 input[id="radio-3"]:checked ~ .glider {
    transform: translateX(200%); }
  .section__notes .glider {
    position: absolute;
    display: flex;
    height: 35px;
    width: 180px;
    background-color: #e6eef9;
    z-index: 1;
    border-radius: 99px;
    transition: 0.25s ease-out; }
  @media (max-width: 700px) {
    .section__notes .tabs {
      transform: scale(0.6); } }

.notes {
  height: 100%;
  width: 100%;
  display: flex;
  background-color: #ffffff; }
  .notes table {
    width: 100%; }
  .notes th {
    font-size: 1.8rem;
    width: 33.33%; }
  .notes td {
    font-weight: 500;
    font-size: 1.6rem;
    width: 33.33%; }
    .notes td a {
      text-decoration: none; }
  .notes table,
  .notes th,
  .notes td {
    border: 1px solid black;
    border-collapse: collapse;
    text-align: center; }

.color {
  color: #fff;
  display: inline-block;
  margin-left: 6rem;
  margin-bottom: 2rem; }

.color1 {
  color: #185ee0;
  text-decoration: none; }

.color2 {
  color: #185ee0; }

.btn__link {
  font-weight: 600;
  color: #382b22;
  text-decoration: none; }

.credits {
  padding: 5rem;
  height: 100vh;
  background-color: #eee; }

h2 {
  text-align: center;
  margin-bottom: 3rem;
  font-family: "Roboto", sans-serif;
  font-weight: 300; }

.main {
  font-family: "Maghody";
  color: #fc4f00;
  font-size: 5.5rem; }

.form__main {
  margin-bottom: 3rem;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  text-align: center;
  font-size: 2.5rem; }

.container0 {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  max-width: 400px;
  margin: 0 auto;
  background-color: #fff5b8;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2); }

.form-group {
  margin-bottom: 15px; }

.form-group label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px; }

.form-group .form__link {
  text-align: center;
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border-radius: 4px;
  border: none;
  background-color: #4caf50;
  color: #ffffff;
  cursor: pointer; }

.form__link {
  text-decoration: none;
  display: inline-block; }

.form-group a:hover {
  background-color: #45a049; }

.rest {
  height: 40rem;
  width: 80%;
  background-color: #fff;
  box-shadow: 0 2rem 1.5rem rgba(0, 0, 0, 0.15);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 13rem;
  border-radius: 9px; }
  .rest__left {
    width: 50%;
    margin-left: 3rem;
    padding-left: 3rem;
    text-align: left; }
    .rest__left .context {
      padding: 1rem;
      line-height: 2;
      width: 87%;
      font-family: "Roboto", sans-serif;
      font-weight: 300;
      text-align: left; }
  .rest__right {
    width: 50%; }

.footer {
  background-color: #333;
  height: 10rem;
  margin-top: 4.5rem;
  width: 99vw;
  margin-left: -5.2rem;
  display: flex;
  justify-content: center;
  align-items: center; }
  .footer .icons {
    display: flex;
    display: inline-block; }
    .footer .icons i {
      margin-top: 0.5rem;
      text-align: center;
      margin-right: 2.2rem;
      font-size: 1.6rem;
      background-color: #eee;
      padding: 0.7rem;
      border-radius: 50%; }
      .footer .icons i:hover {
        background-color: #fff; }

i.fa-twitter {
  color: #1da1f2; }

i.fa-facebook {
  color: #4267b2; }

i.fa-instagram {
  color: #c13584; }

.copy {
  font-size: 2rem;
  font-family: "Monarda", sans-serif;
  font-weight: 100;
  color: #fff;
  margin-left: 0.7rem;
  margin-top: 0.4rem; }
